body{
    font-family: Arial;
}

form{
    text-align: right;
    width: 300px;
}

label{
    display: block;
    margin: 10px;
}

input[type="submit"]{
    margin: 10px;
}

.error{
    color: red;
    margin: 0px 10px;
}

#success{
    color: green;
}